
:root{

--bg:#0d1117;

--card:#161b22;

--text:white;

--accent:#58a6ff;

}



.light{


--bg:#ffffff;


--card:#f2f2f2;


--text:black;


--accent:#2563eb;


}



body{


background:var(--bg);


color:var(--text);


font-family:Inter,sans-serif;


overflow-x:hidden;


}



#particles-js{


position:fixed;


width:100%;


height:100%;


z-index:-1;


}



nav{


display:flex;


justify-content:space-between;


padding:25px;


backdrop-filter:blur(10px);


position:sticky;


top:0;


background:rgba(0,0,0,.3);


z-index:99;


}



.logo{


font-size:28px;


font-weight:bold;


}



ul{


display:flex;


gap:30px;


list-style:none;


}



ul a{


color:var(--text);


text-decoration:none;


}



.hero-container{


display:flex;


justify-content:center;


align-items:center;


gap:80px;


padding:120px;


}



.profile{


width:250px;


height:250px;


border-radius:50%;


object-fit:cover;


}



.hero-right{


max-width:600px;


}



.hero-right h1{


font-size:60px;


}



.hero-buttons{


margin-top:30px;


}



.button{


padding:14px 25px;


background:var(--accent);


border-radius:10px;


text-decoration:none;


color:white;


margin-right:15px;


}



.metrics{


display:flex;


justify-content:center;


gap:100px;


padding:80px;


}



.metrics h1{


font-size:50px;


}



.card{


background:rgba(255,255,255,.05);


backdrop-filter:blur(12px);


padding:30px;


border-radius:20px;


}



.pub-card{


background:rgba(255,255,255,.05);


padding:30px;


border-radius:20px;


}



.blog-card{


background:rgba(255,255,255,.05);


padding:30px;


border-radius:20px;


}



.cards{


display:grid;


grid-template-columns:repeat(auto-fit,minmax(320px,1fr));


gap:30px;


}



.timeline{


position:relative;


margin-top:50px;


}



.timeline::after{


content:"";


position:absolute;


width:4px;


background:var(--accent);


top:0;


bottom:0;


left:50%;


}



.timeline div{


padding:20px;


width:40%;


background:var(--card);


border-radius:15px;


margin-bottom:40px;


}



.graph{


width:100%;


background:white;


padding:20px;


border-radius:15px;


}



.hidden{


opacity:0;


transform:translateY(60px);


transition:1s;


}



.show{


opacity:1;


transform:translateY(0);


}



.terminal{


background:#0d1117;


border-radius:15px;


overflow:hidden;


margin-top:80px;


}



.bar{


height:40px;


background:#21262d;


}



pre{


padding:30px;


font-family:monospace;


color:#58a6ff;


}



@media(max-width:900px){


.hero-container{


flex-direction:column;


padding:40px;


}



.metrics{


flex-direction:column;


}



.timeline div{


width:90%;


}



}

